@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light, dark, virualbookshelf --default, virtualbookshelf_dark  --prefersdark, cupcake, corporate;
}

/* DaisyUI theme override using plugin */
@plugin "daisyui/theme" {
  name: "virtualbookshelf";
  default: true;

  --color-primary: #0F172A;       /* Navy dark */
  --color-secondary: #06B6D4;     /* Teal accent */
  --color-accent: #F97316;        /* Soft orange for highlights */
  --color-base-100: #F1F5F9;      /* Background light gray */
  --color-neutral: #1E293B;       /* Dark text / neutral */
  --color-info: #38BDF8;          /* Info color / hover accent */
  --color-success: #22C55E;       /* Optional green */
  --color-warning: #FACC15;       /* Optional yellow */
  --color-error: #EF4444;         /* Optional red */
  --color-gray-600: oklch(44.6% 0.03 256.802);
  --color-gray-900: oklch(21% 0.034 264.665);
}

@plugin "daisyui/theme" {
  name: "virtualbookshelf_dark";
  default: false;

  --color-gray-600: oklch(98.5% 0.002 247.839);      /* Light text for dark mode */
  --color-gray-900: oklch(98.5% 0.002 247.839);      /* Light text for dark mode */
}